# Dependencies
node_modules
**/node_modules

# Build output
dist
**/dist

# Development files
.git
.gitignore
*.md
LICENSE
docs
examples

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Test
coverage
.nyc_output

# Docker
.docker/dev
docker-compose*.yaml
!docker-compose.yaml
